#content-header {
    position: abslute;
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}


/*#breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
}

#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}

#breadcrumb a i {
    margin-right: 5px;
    opacity: .6;
}*/

.tip-bottom {
    cursor: default;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}


/*搜索地址*/
#search{
	position: static;
    margin-top: 10px;
}

#search input[type=text] {
    background-color: #47515b;
    color: #fff;
}

#search input[type=text] {
    padding: 4px 10px 5px;
    border: 0;
    width: 160px;
}

 #search button {
    background-color: #28b779;
    margin-left: -7px;
    margin-top: -10px;
	padding: 5px 10px 4px;
	cursor: default;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    vertical-align: middle;
}

#search button i {
    opacity: 0.8;
    color: #fff;
}


.bottom{
    display: flex;
    justify-content: space-between;
}
.bottom .btn{
    height: 20px;
}