p, ul, li, div, h1, h2, h3, h4, h5, body {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
/*	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;*/
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	background: #2E363F;
}
a {
	color: #333;
	text-decoration: none;
}
img {
	display: block;
}
li {
	list-style: none;
}
h1, h2, h4, h5 {
	font-weight: normal;
}
input:focus {
	outline: none;
}

label {
    display: block;
    margin-bottom: 5px;
}


label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}


#app {
	/* width: 7.5rem;
	margin: 0 auto;
	overflow: hidden; */

	display: flex;
	height: 100vh;
}

#header {
	height: 40px;
	line-height: 40px;
	background: #1f262d;
}

#section {
	width:220px;

}
#content{
	background: none repeat scroll 0 0 #eee;
	padding-bottom: 25px;
	position: relative;
	min-height: 100%;
	width: auto;
}

#main {
	flex: 1;
}

.btn {
	display: inline-block;
	color: #FFF;
	text-align: center;
	border-radius: 4px;
}
.default-btn {
	width: 2rem;
	line-height: .74rem;
	background-color: #33CCCC;
}

.loading {
	text-align: center;
	line-height: .7rem;
}
.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fade-transition, .fade-transition {
	transition: opacity .2s;
}
.fade-enter, .fade-leave {
	opacity: 0;
}

.slide img {
	width: 100%;
	height: 3.63rem;
}

.modal {
	width: 7.5rem;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, .3);
}
.modal-content {
	width: 7rem;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: .3rem;
	text-align: center;
	border-radius: 6px;
	overflow: hidden;
	background-color: #FFF;
	transition: all .3s;
	transform: translate(-50%, -50%);

	& .modal-header {
		color: #FFF;
		font-size: .36rem;
		line-height: 1.4rem;
		background-color: #33CCCC;
	}

	& p {
		margin: .65rem 0 0;
	}

	& p:nth-child(3) {
		margin: .2rem 0 .88rem;
	}

	& .btn {
		display: block;
		width: 5.5rem;
		margin: 0 auto .5rem;
		line-height: .8rem;
		background-color: #33CCCC;
	}
}

.modal-transition, .modal-transition {
	transition: opacity .3s;
}
.modal-enter, .modal-leave {
	opacity: 0;
}
.modal-enter .modal-content, .modal-leave .modal-content {
	transform: translate(-50%, -50%) scale(1.1);
}


/*菜单面包屑*/
#content-header {
    position: abslute;
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}


#breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
    font-size: 11px;
	padding: 8px 8px 8px 10px;
}

#breadcrumb a {
    padding: 0px 10px 0px 0px;
    display: inline-block;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}


#breadcrumb a.tip-bottom{
    display: inline-block;
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}


#breadcrumb a i {
    margin-right: 5px;
    opacity: .6;
}

.tip-bottom {
    cursor: default;
    border:none;
}



input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none;
    border-radius: 0px;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
}


/*表单样式*/


/*通配样式*/
.w50{
	width: 50%
}

.wf170{
	width:170px ;
}

.bn{
	border:none !important;
}
.mt-26{
	margin-top:-26px;
}

.dialog-wrapper {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}
.dialog-container {
	width: 250px;
	padding: 20px;
	margin: auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, .4);
	background-color: #FFF;
}

.dialog-container2 {
	min-width: 250px;
	padding: 20px;
	margin: auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, .4);
	background-color: #FFF;
}


.btn-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;

	& div {
		width: 80px;
		color: #333;
		line-height: 30px;
		cursor: pointer;
		background-color: #CCC;
	}

	& div:last-child {
		color: #FFF;
		background-color: #333;
	}
}
.service-btn {
	margin-right: 20px;
	margin-left: auto;
}

.normal-span-mr {
	margin-left: 10px;
}

.normal-div-ib {
	display: inline-block;
}

.normal-operate-state {
	cursor: pointer;
	color: rgb(43, 141, 249);
	text-align: center;
	margin: 0 5px;
	min-width: 4em;
	display: inline-block;
}

.normal-operate-state-a {
	color: rgb(43, 141, 249);
	text-align: center;
	min-width: 6em;
	text-decoration: none;
	white-space: nowrap;
}
.normal-window-content {
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.crActive{
	color: #00CBD4;
	cursor: pointer;
}