#header > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #2e363f;
    border-left: 1px solid #000;
}

#header > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
    border-left: 1px solid #2e363f;
    border-right: 1px solid #000;
}


#header > ul > li > a {
    padding: 9px 10px;
    display: block;
    font-size: 11px;
}

#header .brand, #header .nav>li>a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#header > ul > li > a:hover, #header > ul > li.open > a {
    color: #ffffff;
    background: #000;
}